<div class="data">
	<mat-card>
		<mat-card-header>
			<img [src]="preview" alt="" mat-card-image>
		</mat-card-header>

		<mat-card-subtitle>
			<label mat-button for="img-upload">teste de upload</label>
			<input type="file" (change)="selectFile($event)" id="img-upload">
			{{subtitle}}
		</mat-card-subtitle>

		<mat-card-content>

			<mat-form-field appearance="fill">
				<mat-label>nome</mat-label>
				<input matInput type="text" [(ngModel)]="nome">
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>email</mat-label>
				<input matInput type="email" [(ngModel)]="email">
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Choose a date</mat-label>
				<input matInput [matDatepicker]="picker" [(ngModel)]="data">
				<mat-hint>DD/MM/YYYY</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>senha</mat-label>
				<input matInput [type]="hide ? 'text' : 'password'" [(ngModel)]="senha">
				<button class="icon" matSuffix mat-icon-button (click)="hide =!hide">
					<span class="material-icons">
						{{hide ? 'visibility_off': 'visibility'}}
					</span>
				</button>
			</mat-form-field>
		</mat-card-content>

		<mat-card-actions>
			<mat-checkbox [(ngModel)]="enabled">
				<a href="#">termos e condições</a>
			</mat-checkbox>
			<button mat-button [disabled]="!enabled" (click)="saveUser()">salvar</button>
		</mat-card-actions>

	</mat-card>

</div>
